body {
  padding-top: 50px;
}

.navbar-default .navbar-brand {
  color: $brand-color;
}

.brand-color-t {
  color: $brand-color;
}

.jumbotron{
  background: url("../img/site-jumbo-bg.jpg") no-repeat top center, #1d2428;
  color: #fff;
  height: 520px;
  overflow: none;
  .app-btn {
    width: 40%;
    margin-right: 30px;
  }
  h1{
    margin-top: 50px;
  }
  p{
    margin-bottom:140px;
  }
  .phone-img{
    position: relative;
    width: 340px;
    bottom: -22px;
    left: 40px;
  }
}
